.info-card {
  width: 100%;
  height: fit-content;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .type {
    font-size: 12px;
    font-weight: bold;
    display: flex;
  }

  .title {
    font-weight: bold;
    font-size: 26px;
  }

  .tags {
    margin-top: 7px;
  }

  .tags > .tag {
    font-size: 10px;
    padding: 3px 10px;
    margin-right: 3px;
  }
}
