// @import '../../../../styles/application';

.upload-resource {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > .main-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;

    // &.no-file-but-image {
    //   position: relative;
    //   height: fit-content;
    //   display: flex;

    //   > .image-container {
    //     width: calc(100% - 15px);
    //     height: calc(100% - 15px);
    //     margin: 0 0 15px 15px;
    //   }

    //   > .uploader {
    //     position: absolute;
    //     bottom: 0;
    //     width: calc(100% - 15px);
    //     height: calc(100% - 15px);

    //     > .upload {
    //       height: 100%;
    //     }
    //   }
    // }

    > .uploader {
      width: 100%;
      min-height: 250px;
      padding: 20px 0;
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 4px dashed #d1d4e0;
      border-radius: 15px;
      z-index: 1;
      background-color: white;
      position: relative;

      &.no-border {
        border: none;
      }

      // &:hover:has(> *:hover.upload:hover) {
      &:hover:not(:has(> *:hover:not(.upload:hover))):not(:has(> .uploading-animation, > .autofilling-animation)) {
        cursor: pointer;
        border: 4px dashed #1a6aff;
        color: #1a6aff;
        background-color: #cddffe;

        > .upload {
          > span {
            color: #1a6aff;
          }
          > svg > path {
            fill: #1a6aff;
          }
        }
      }

      > .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        &.image > svg {
          height: 65px;
        }

        > span {
          font-weight: bold;
          font-size: 15px;
          color: var(--primary-color);
          text-align: center;
          padding: 0 18px;
        }
      }

      > .uploading-animation {
        @keyframes rotateAnimation {
          0%,
          100% {
            transform: rotate(0deg) translate(0, 45px);
          }
          50% {
            transform: rotate(0deg) translate(0, -45px);
          }
        }

        > .uploading-img {
          max-height: 130px;
          display: inline-block; /* necessary to apply transform */
          animation: rotateAnimation 2s infinite;
          animation-timing-function: cubic-bezier(0.45, 0.25, 0.6, 0.95);
        }
      }

      > .autofilling-animation {
        padding: 40px 60px 0 0;
        animation: rotateSelf 8s infinite linear;

        @keyframes rotateSelf {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        > .autofilling-img {
          max-height: 115px;
          display: inline-block; /* necessary to apply transform */
          animation: rotateSelf 10s infinite linear;
        }
      }

      &.show-error {
        border: 3px dashed var(--error-color);
        transition: border-width 0.6s linear;
      }
    }
    > .image-container {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      border-radius: 10px;

      > .image,
      > a > .image {
        border-radius: 10px;
        box-shadow: 0 0 6px #dedede;
      }

      > .round-button {
        margin: 12px;
      }
    }
  }

  > .bottom-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 15px;

    > .subcontainer,
    > .input-text-field,
    .dropdown > input {
      width: 100%;
      height: fit-content;
    }

    > .subcontainer,
    > .input-text-field > input,
    .dropdown > input {
      width: 100%;
      height: fit-content;
      box-shadow: 0 0 6px #dedede;
      border-radius: 10px;
    }

    > .link {
      > .input-container {
        padding: 8px 0;
        height: 100%;
        border-radius: 10px;
        background-color: transparent;
        > :last-child:not(input) {
          margin-right: 10px;
        }
      }

      > .error-msg {
        margin: 5px 0 -4px 0px;
      }
    }

    > .uploaded-name {
      width: 100%;
      display: flex;
      height: 48px;
      padding-right: 10px;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      color: #757575;
      position: relative;

      > * {
        z-index: 1;
      }

      > .content-icon {
        display: flex;
        align-items: center;
        margin: 0 10px 0 16px;
        color: #757575;

        > .extract-info-icon {
          height: 18px;
          width: fit-content;
          fill: #757575;
        }
      }
      > abbr {
        margin-right: 5px;
      }
      > .round-button {
        display: flex;
        margin-left: auto;
      }

      > .beats {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        background-color: transparent; // Just to ensure the beats contrast well
      }

      // > .upload-beat {
      //   width: 100%;
      //   > .beat {
      //     height: 100%;
      //     background: #1a6aff33;
      //     position: absolute;
      //     border-radius: 10px;
      //   }
      // }

      > .autofill-beats,
      > .upload-beats {
        @keyframes moveRight {
          0% {
            left: -50%;
          }
          100% {
            left: 100%;
          }
        }

        > .beat {
          width: 50%;
          height: 100%;
          position: absolute;
          border-radius: 10px;
          left: -50%;

          &.beat1 {
            animation: moveRight 6s infinite linear;
          }

          &.beat2 {
            animation: moveRight 6s 2s infinite linear;
          }
          &.beat3 {
            animation: moveRight 6s 4s infinite linear;
          }
        }

        &.upload-beats > .beat {
          background: linear-gradient(to right, transparent 30%, #1a6aff33);
        }
        &.autofill-beats > .beat {
          background: linear-gradient(to right, transparent 30%, #00bd7e53);
        }
      }
    }

    > .dropdown {
      width: 130px;
      > .dropdown-content {
        width: auto;
      }
    }
  }
}
