.whistleblow-button {
  padding: 1px 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: normal;

  > svg {
    fill: #ff0073;
  }

  &:hover:not(.disabled) {
    color: #5c5c5c;
    > svg {
      fill: #cf005d;
    }
  }
}
