.leaderboard-container {
  display: flex;
  flex-direction: column;
  gap: 46px;
  > .leaderboard-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    > .title {
      font-size: 28px;
      line-height: 34px;
      color: #223b6a;
    }
    > .subtitle {
      font-size: 16px;
      color: #91939f;
    }
  }

  > .leaderboard {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    > .contributor {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;

      > .contributor-head {
        display: flex;
        align-items: center;
        gap: 10px;
        width: calc(45% - 76px);
        margin-right: 5%;

        > .rank {
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: bold;
          > .medal {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 5px;

            > svg {
              width: 100%;
              height: 100%;
            }

            &.rank-1 {
              background: linear-gradient(140deg, #feea66 50%, #ffd900 50%);
              box-shadow: 0 0 0 5px #ffc800;
              > svg > g > path {
                fill: #ff9600;
              }
            }
            &.rank-2 {
              background: linear-gradient(140deg, #d6e4ef 50%, #c2d1dd 50%);
              box-shadow: 0 0 0 5px #aac1d4;
              > svg > g > path {
                fill: #849fb5;
              }
            }
            &.rank-3 {
              background: linear-gradient(140deg, #f7be8b 50%, #e5ae7c 50%);
              box-shadow: 0 0 0 5px #d7975d;
              > svg > g > path {
                fill: #cd7900;
              }
            }
          }
        }

        > .avatar {
          width: 72px;
          height: 72px;
          position: relative;
          padding: 4px;
          > .profile-avatar {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            object-fit: cover;
          }
          > .level-avatar-container {
            position: absolute;
            border-radius: 50%;
            filter: drop-shadow(0px 0px 0.2px rgba(0, 0, 0, 0.22));
            z-index: 1;
            bottom: 2px;
            right: 2px;
            width: 24px;
            height: 24px;
            > .level-avatar {
              width: 100%;
              height: 100%;
            }
          }
        }

        > .name {
          margin-left: 4px;

          font-weight: bold;
        }
      }

      > .score {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 6px;
        width: 76px;
        font-weight: bold;
        > svg {
          height: 14px;
        }
      }

      > .subject {
        margin-left: 5%;
        width: calc(45%);
        max-width: 35%;
      }
    }
  }
}
