@import '../../../styles/application';

.file-uploader {
  width: 100%;
  height: 100%;
  border: 4px dashed #d1d4e0;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &.hover {
    border: 4px dashed #1a6aff;
    color: #1a6aff;
    background-color: #337cf93f;

    > .upload {
      > span {
        color: #1a6aff;
      }
      > svg > path {
        fill: #1a6aff;
      }
    }
  }

  > .upload {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    &.image > svg {
      height: 65px;
    }

    > svg > path {
      fill: var(--primary-color);
    }

    > span {
      font-weight: bold;
      font-size: 15px;
      color: var(--primary-color);
      text-align: center;
      padding: 0 18px;
    }
  }

  &.error {
    animation: border-blink 6s ease-out;

    @keyframes border-blink {
      0% {
        border: 4px dashed #d1d4e0;
      }
      3% {
        border: 4px dashed $error-color;
      }
      97% {
        border: 4px dashed $error-color;
      }
      100% {
        border: 4px dashed #d1d4e0;
      }
    }
  }
}
