.header {
  z-index: 3;
  position: fixed;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  top: 0;
  height: 60px;
  width: 100%;
  font-size: 0.7rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);

  @media screen and (max-width:675px) {
    padding: 0 25px;
  }

  .content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .text {
    color: #b6bacb;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .signin-btn {
    @media screen and (max-width:450px) {
      display: none;
    }
  }

  .signup-btn {
    @media screen and (max-width:550px) {
      display: none;
    }
  }

  .add-icon {
    max-height: 30px;
    margin: 0 6px;
  }

  .avatar {
    max-height: 36px;
    border-radius: 50%;
    margin-left: 6px;
  }

  .primary-button {
    margin-left: 10px;
  }
}
