.switch {
  position: relative;
  width: 44px;
  height: 26px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.medium {
    width: 28px;
    height: 16px;
  }

  &.on {
    justify-content: flex-end;
    background-color: #00e096;
  }
  &.off {
    background-color: #c0c7d5;
  }

  &.disabled {
    opacity: 0.25;
    cursor: initial;
  }
  > .moving-part {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background-color: white;
    &.medium {
      width: 12px;
      height: 12px;
    }
    &.on {
      left: calc(100% - 24px);
    }
    &.off {
      left: 2px;
    }
    &.to-on {
      animation: switchOn 100ms linear forwards;
      @keyframes switchOn {
        from {
          left: 2px;
        }
        to {
          left: calc(100% - 24px);
        }
      }
      &.medium {
        animation: switchOnMedium 100ms linear forwards;
        @keyframes switchOnMedium {
          from {
            left: 2px;
          }
          to {
            left: calc(100% - 14px);
          }
        }
      }
    }
    &.to-off {
      animation: switchOff 100ms linear backwards;
      @keyframes switchOff {
        from {
          left: calc(100% - 24px);
        }
        to {
          left: 2px;
        }
      }
    }
  }
}
