.collection {
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 450px) {
    background-color: white;
  }

  > .content {
    z-index: 3;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .wide-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    > .main-and-right-columns {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      > .main-column,
      > .right-column {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
      }
    }

    @media screen and (max-width: 450px) {
      > .main-and-right-columns {
        flex-direction: column;
      }
    }

    @media (min-width: 450px) and (max-width: 800px) {
      > .main-and-right-columns {
        > .main-column {
          width: 50%;
        }
        > .right-column {
          width: 50%;
        }
      }
    }

    @media screen and (min-width: 800px) {
      > .main-and-right-columns {
        > .main-column {
          width: 65%;
        }

        > .right-column {
          width: 32%;
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }

    > .collection-action-card,
    > .main-and-right-columns > .right-column > .collection-action-card {
      width: 100%;
      height: fit-content;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 450px) {
        padding: 25px;
      }

      @media screen and (min-width: 1000px) {
        > .button,
        a {
          max-width: 80%;
        }
      }

      > .button,
      > a > .button {
        width: 100%;
        justify-content: center;
        padding: 11px;
        flex: 1;
        gap: 8px;
        height: 40px;

        > svg {
          width: 18px;
        }
      }

      > a {
        width: 100%;
      }
    }

    > .wide-column > .resource-list,
    > .main-and-right-columns > .main-column > .resource-list,
    > .resource-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
