{
  
  "presets": [["@babel/preset-env", {
    "targets": {"node": 12}
  }], "@babel/preset-typescript"],
  "plugins": ["@babel/plugin-transform-runtime",["module-resolver",{"alias":{"@mn-be":"./src"}}]]
}