{
  "extends": [".eslintrc-base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-ignore": { "descriptionFormat": "^: because .+$" },
        "ts-nocheck": { "descriptionFormat": "^: because .+$" },
        "ts-expect-error": { "descriptionFormat": "^: because .+$" }
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "disallowTypeAnnotations": true,
        "fixStyle": "separate-type-imports"
      }
    ],
    "@typescript-eslint/consistent-type-exports": [
      "error",
      {
        "fixMixedExportsWithInlineTypeSpecifier": true
      }
    ]
  }
}
