node_modules

npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
lerna-error.log*

.eslintcache

.ignore*

*.gen.ts
*.gen.tsx
packages/backend/src/graphql/types.graphql.gen.d.ts
packages/common/src/graphql/types.graphql.gen.ts
packages/common/src/graphql/gql-introspection.json
