.like-button:not(.disabled) {
  > svg {
    width: 21px;
    height: 21px;
  }

  &.liked {
    &:not(:hover) > svg {
      color: #fc0071;
    }
    &:hover > * {
      color: #ce005d;
    }
  }

  &:hover {
    color: #ce005d;
  }
}
