.secondary-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  padding: 12px;
  padding: 12px 18px;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;

  &.orange,
  &.grey {
    border-radius: 45px;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
  }

  &.orange {
    color: #f88012;
    background-color: #f4f5f7;
    border: 2px solid #f88012;

    &:hover {
      //color: #e37511;
      //border: 2px solid #e37511;
      color: #337AFF;
      border: 2px solid #337AFF;
    }
  }

  &.grey {
    color: #7f8393;
    background-color: transparent;
    border: 2px solid #7f8393;

    &:hover {
      color: #545761;
      border: 2px solid #545761;
    }
  }
}
