RABBITMQURL=amqp://localhost:5672
ARANGO_HOST=http://localhost:8529
DOMAIN_AMQP_AMQP_HOST=${RABBITMQURL}

STARTER_GLOB_PATTERN=**/*.service.*js

# ^ Email
EMAIL_PERSISTENCE_IMPL_MODULE=arango
EMAIL_ARANGO_URL=${ARANGO_HOST}

EMAIL_SENDER_IMPL_MODULE=mailgun
EMAIL_MAILGUN_API_KEY=key-#################
EMAIL_MAILGUN_DOMAIN=sandbox################
# $ Email


# ^ Accounting 
ACCOUNTING_PERSISTENCE_IMPL_MODULE=arango
ACCOUNT_ARANGO_URL=${ARANGO_HOST}

ACCOUNTING_EMAIL_VERIFICATION_EXPIRE_DAYS=0.00005
ACCOUNTING_EMAIL_VERIFICATION_ATTEMPTS=2
#TODO: remove those settings as they get in DB
# $ Accounting 
