.general {
  > .details-section {
    > .parameter {
      > .user-id > span {
        color: grey;
        font-weight: normal;
        font-size: 12px;
        margin-left: 16px;
      }
    }
  }

  > .interests-section {
    > .parameter {
      > .set-as-default-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        > .title {
          font-size: 14px;
        }
      }
    }
  }
}
