.subheader {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: white;
  top: 60px;
  height: 60px;
  width: 100%;
  font-size: 0.7rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);

  .title {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 25px;
  }

  .logo {
    width: 60px;
    margin-left: 16px;
  }

  .text {
    color: #212121;
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 45px;

    @media screen and (max-width: 450px) {
      margin-right: 25px;
    }
  }
}
