@import '../../../../styles/application';

.collection-card {
  position: relative;
  width: 100%;
  height: 185px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px #dedede;
  display: flex;
  flex-direction: column;

  &.is-private {
    opacity: 1;
  }

  > .collection-card-header {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
    padding: 19px;
    color: white;

    > * {
      font-size: 12px;
      display: flex;
      align-items: center;
      > * {
        display: flex;
        gap: 5px;

        &:hover {
          color: rgb(199, 199, 199);
        }
        &:active {
          color: rgb(146, 146, 146);
        }
      }

      > svg,
      * > svg {
        width: 18px;
        height: 18px;
      }
    }

    > .left {
      > .num-resources {
        pointer-events: none;
        > svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    > .right > *,
    > .follow {
      padding: 1px 3px;
      // background-color: #e3e5ef;
      // border-radius: 6px;
      font-size: 13px;
      // color: #636363;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      > svg,
      * > svg {
        width: 18px;
        height: 18px;
      }
    }

    > .follow:hover:not(.disabled) {
      // background-color: #cbcdd7;
      color: #cbcdd7;
    }

    > :not(.disabled) {
      pointer-events: auto;
    }

    .following {
      // background-color: $primary-color;
      color: $primary-color;
    }

    .right {
      display: flex;
      gap: 5px;

      > .visibility {
        &.public {
          color: $primary-color;
          // background-color: #cbcdd7;
          &:hover,
          &:active {
            color: $primary-color-active;
          }
        }
        &:hover,
        &:active {
          color: rgb(199, 199, 199);
        }
      }

      > .bookmarked {
        // background-color: #00bd7e;
        color: #00bd7e;
      }
    }
  }
  > a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    > .title {
      max-height: 52px;
      text-align: center;
      text-align: center;
      font-family: 'Lato';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: white;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
