.main-layout:has(> .content > .maintenance-page) {
  height: 100%;
  > .content {
    height: 100%;
  }
}

.maintenance-page {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  > .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    > .title {
      font-size: 40px;
      font-weight: lighter;
    }
    > .subtitle {
      font-size: 18px;
    }
  }

  .hat-logo {
    position: absolute;
    height: 180px;
    width: 180px;
    z-index: 1;
    bottom: 48px;
    animation: maintenance-move 4s infinite cubic-bezier(0.7, 0.44, 0.28, 0.52),
      maintenance-spin 1s infinite linear;
  }

  @keyframes maintenance-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes maintenance-move {
    0% {
      left: -400px;
      bottom: 20%;
    }
    25% {
      left: 50%;
      bottom: 0px;
    }
    50% {
      left: 75%;
      bottom: 20%;
    }
    75% {
      left: 50%;
      bottom: 0px;
    }
    100% {
      left: -400px;
      bottom: 20%;
    }
  }
}
