.profile-page{
  display: grid;
  width: 100%;
  height: 100%;
  gap: 15px 35px;
  @media (max-width: 450px) {
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }
  @media screen and (max-width: 499px){
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "main-profile-card"
      "resources"
      "collections"
      "overall"
      "points";
  }
  @media screen and (min-width: 500px) and (max-width: 799px) {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "main-profile-card main-profile-card"
      "resources resources"
      "collections collections"
      "points overall";
  }
  @media screen and (min-width: 800px) {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "main-profile-card points"
      "main-profile-card points"
      "main-profile-card overall"
      "main-profile-card collections"
      "resources collections";
  }
}
.main-profile-card { grid-area: main-profile-card; }
.points { grid-area: points; }
.overall { grid-area: overall; }
.resources { grid-area: resources; }
.collections { grid-area: collections; }


