.footer {
  > .content {
    > .left {
      gap: 10px;
    }
  }
}

.footer {
  padding: 70px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  width: 100%;
  height: fit-content;
  font-size: 0.7rem;

  @media screen and (max-width: 450px) {
    background: white;
  }

  @media screen and (max-width: 675px) {
    padding: 50px 0 35px;
    > .content {
      gap: 15px;
    }
  }

  > .top {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    > .left {
      display: flex;
      align-items: center;
    }

    > .center {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    > .right {
      display: flex;
      gap: 6px;
    }
  }
}
