@import '../../../../styles/application';

.resource-card-legacy {
  position: relative;

  &.is-private {
    opacity: 1;
  }

  > .actions {
    position: absolute;
    pointer-events: none;
    right: 12px;
    top: 10px;
    z-index: 1;
    display: flex;
    gap: 10px;
    font-size: 13px;
    color: #757575;

    > * {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      > svg,
      * > svg {
        width: 18px;
        height: 18px;
      }
      &.disabled {
        color: #919191;
      }
    }

    > :not(.disabled) {
      pointer-events: auto;
    }

    > .visibility.public {
      color: $primary-color;
    }

    > .liked {
      color: red;
    }

    > .like:hover:not(.disabled) {
      color: red;
    }

    > .bookmarked {
      color: #00bd7e;
    }

    > .bookmark:hover:not(.disabled) {
      color: #00bd7e;
    }
  }

  > a,
  > .content-container {
    width: 100%;

    > .content {
      position: relative;
      cursor: pointer;
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;

      > .image {
        width: 85px;
        flex: none;
        height: 100%;
        object-fit: cover;
        border-radius: 9px;
      }

      > .resource-card-header {
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        gap: 8px;
        height: 100%;

        > .type-and-actions {
          display: flex;
          justify-content: space-between;

          > .type {
            display: flex;
            align-items: center;
            font-size: 11px;
            font-weight: bold;
            max-width: calc(100% - 75px);
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        > .title {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }

  > .round-button {
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 2;
    padding: 2px 2px 6px 6px;
    background: white;
    margin: 7px 7px 3px;
  }

  > .tags {
    position: absolute;
    bottom: 2px;
    margin-left: 110px;
    z-index: 2;
    gap: 6px;
    padding: 5px 7px 8px 1px;
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 3%);
    mask-image: linear-gradient(to left, transparent 0%, black 3%);

    &:not(.editing) {
      width: calc(100% - 124px);
    }

    &.editing {
      width: calc(100% - 151px);
    }

    &.disabled {
      pointer-events: none;
    }
    > a > .tag {
      font-size: 12px;
      padding: 4px 10px;
      margin-right: 3px;
    }
  }

  &.horizontal {
    > a > .content,
    > .content-container > .content {
      height: 88px;
      padding: 10px;
    }
  }

  &.vertical {
    max-width: 180px;
    height: 120px;

    > .actions {
      top: 44px;
    }

    > a,
    > .content-container {
      width: 100%;
      height: 100%;
    }

    > a > .content,
    > .content-container > .content {
      width: 100%;
      height: 100%;
      flex-direction: column;
      gap: 7px;

      > .image {
        width: 100%;
        max-width: 100%;
        height: 40px;
        border-radius: 16px 16px 0 0;
      }

      > .resource-card-header {
        padding: 0 10px;
        gap: 8px;
      }
    }
  }
}
