.install {
  display: flex;
  flex-direction: column;
  gap: 16px;
  > .card {
    display: flex;
    flex-direction: column;
    padding: 26px 40px;
    gap: 20px;

    > .title {
      font-size: 23px;
      font-weight: bold;
    }

    > .option {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > .name {
        font-weight: bold;
      }
      > .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 22px;

        > .input-text-field {
          height: 36px;
          width: 100%;
        }
      }
    }
  }

  > .installed-packages {
    > .list {
      min-height: 30px;
    }
  }
}
