@import '../../../styles/application';

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  padding: 0 18px;
  width: fit-content;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  white-space: nowrap;

  &.green {
    background-color: #00bd7e;
  }

  &.red {
    background-color: red;
  }

  &.grey {
    background-color: #8a8a8a;
  }

  &.blue {
    background-color: #1a6aff;
  }

  &:hover {
    background-color: var(--primary-color-hover);
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
      0px 2px 6px 2px rgb(60 64 67 / 15%);

    &.green {
      background-color: #04ce8a;
    }

    &.red {
      background-color: rgb(231, 2, 2);
    }

    &.grey {
      background-color: #7c8091;
    }

    &.blue {
      background-color: #2d6de2;
    }
  }

  &:active {
    background-color: var(--primary-color-active);

    &.green {
      background-color: #01c483;
    }

    &.red {
      background-color: rgb(196, 1, 1);
    }

    &.grey {
      background-color: #707483;
    }

    &.blue {
      background-color: #2658b4;
    }
  }

  &:focus-visible {
    border: none;
    outline: none;
    transition: 0.1s;
    box-shadow: 0 0 3pt 2pt #1a6affb0;
  }

  &.disabled {
    cursor: default;
    user-select: none;
    background-color: #e8e8e8;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
