.primary-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 45px;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    padding: 12px 18px;
    width: fit-content;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    background-color: #F88012;
    white-space: nowrap;
    
    &:hover {
        //background-color: #e37511;
        background-color: #337AFF;
    }

    &.disabled {
        cursor: default;
        user-select: none;
        background-color: #e8e8e8;
    }

    a {
        color: white;
        text-decoration: none;
    }
}