.extension-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > .card {
    display: flex;
    flex-direction: column;
    padding: 26px 40px;
    gap: 20px;

    > .title {
      font-size: 23px;
      font-weight: bold;
    }
  }

  > .header-card {
    > .title {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      > .title-and-back {
        display: flex;
        align-items: center;
        gap: 10px;
        > .back {
          width: fit-content;
          padding: 0 4px;
          margin-left: -6px;
        }
      }
    }
  }

  > .modules {
    > .list {
      min-height: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      > .module {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
