#NODE_ENV=production
RABBITMQURL=amqp://localhost:5672
ARANGO_HOST=http://localhost:8529
DOMAIN_AMQP_URL=${RABBITMQURL}

STARTER_GLOB_PATTERN=**/*.service.js
# STARTER_GLOB_PATTERN={**/UserAuth-GraphQL-Request.Register_New_UserAuth-GraphQL-Request.Request.service.js,**/http-gql-server.service.js}
# STARTER_GLOB_PATTERN={**/Email.Verify_Email.Confirm_Email.service.js,**/http-gql-server.service.js}


# ^ Email
EMAIL_PERSISTENCE_IMPL_MODULE=arango
EMAIL_ARANGO_URL=${ARANGO_HOST}

EMAIL_SENDER_IMPL_MODULE=mailgun
EMAIL_MAILGUN_API_KEY=key-####
EMAIL_MAILGUN_DOMAIN=sandbox#####.mailgun.org
# $ Email


# ^ UserAuth-GraphQL-Request 
USERAUTH_PERSISTENCE_IMPL_MODULE=arango
USERAUTH_ARANGO_URL=${ARANGO_HOST}
# $ UserAuth-GraphQL-Request 

# ^ HttpServer 
HTTP_GRAPHQL_PORT=8080
# $ HttpServer 

# ^ JWT keys
# https://gist.github.com/ygotthilf/baa58da5c3dd1f69fae9#gistcomment-2932501
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n#####\n#####\n#####\n#####\n#####\n#####\n-----END PUBLIC KEY-----"
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n#####\n#####\n#####\n#####\n#####\n#####\n#####\n-----END RSA PRIVATE KEY-----"
# $ JWT keys
