// User https://www.cssportal.com/scss-to-css/ to convert to CSS

body {
    > h1 {
        font-size: 60;
        color: pink;
    }

    > p {
        font-size: 20px;
        padding: 0 10px;
    }
}