.minimalistic-access-buttons {
  display: flex;
  gap: 10px;

  > a {
    > .secondary-button:first-child:not(.visible) {
      display: none;
    }
    @media (max-width: 650px) {
      > .secondary-button:first-child {
        display: flex;
      }
    }
  }
}
