.manage-extensions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > .card.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    > svg {
      width: 34px;
      height: 34px;
    }
  }

  > .card {
    display: flex;
    flex-direction: column;
    padding: 26px 40px;
    gap: 20px;

    > .title {
      font-size: 23px;
      font-weight: bold;
    }
  }

  > .installed-packages {
    > .list {
      min-height: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      > .package {
        width: 100%;
        height: 74px;
        display: flex;
        align-items: center;
        position: relative;
        gap: 14px;
        padding: 0 11px;
        border: 1px solid #ededed;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #f9f9f9;
        }
        > .logo {
          position: relative;
          border-radius: 5px;
          height: 40px;
          width: 40px;
          flex: 0 0 40px;
          padding: 5px;
          > .circle {
            height: 100%;
            width: 100%;
            border-radius: 100px;
            background-color: #ff8e24;
          }
          > .letter {
            position: absolute;
            left: 4px;
            right: 0;
            top: 10px;
            bottom: 0;
            font-size: 28px;
            text-align: center;
            border-radius: 100px;
            color: #ffffff;
            font-weight: bolder;
            font-family: 'Press Start 2P';
            transform-style: preserve-3d;
          }
        }

        > .info {
          min-width: 0px;
          > .title {
            font-size: 18px;
          }
          > .description {
            font-size: 13px;
            color: rgb(100, 100, 100);
          }
          > .creator {
            font-size: 11px;
            color: rgb(100, 100, 100);
          }
          > * {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        > .install-btn {
          margin-left: auto;
        }
      }
    }
  }
}
