// @import '../../../../styles/application';

.upload-file {
  width: 100%;
  display: flex;
  border-radius: 16px 16px 0 0;

  @media screen and (max-width: 450px) {
    border-radius: 0;
  }

  > .uploader {
    width: 100%;
    height: 100%;
    padding: 34px;

    > .upload {
      border: 4px dashed #d1d4e0;
      border-radius: 16px;
      cursor: pointer;

      height: 100%;
      // height: 250px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      &:hover,
      &.hover {
        border: 4px dashed #1a6aff;
        color: #1a6aff;
        background-color: #337cf93f;

        > span {
          color: #1a6aff;
        }
        > svg > path {
          fill: #1a6aff;
        }
      }

      &.file > svg {
        height: 65px;
      }

      > span {
        font-weight: bold;
        font-size: 15px;
        color: var(--primary-color);
        text-align: center;
        padding: 0 18px;
      }
    }

    &.error {
      animation: border-blink 6s ease-out;

      @keyframes border-blink {
        0% {
          border: 4px dashed #d1d4e0;
        }
        3% {
          border: 4px dashed var(--error-color);
        }
        97% {
          border: 4px dashed var(--error-color);
        }
        100% {
          border: 4px dashed #d1d4e0;
        }
      }
    }
  }
  > .image-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;

    > .round-button {
      margin: 12px;
    }
  }
}
