.interest-info > .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 14px 18px;
  border-radius: 6px;
  background-color: (#00bd7e21);
  > .title {
    font-size: 16px;
    font-weight: bold;
  }
  > .description {
    font-size: 14px;
  }
  > .actions {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    row-gap: 10px;
  }
}
