// @import '../../../../styles/application';

.upload-resource {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > .main-container {
    width: 100%;
    // height: 100%;

    > .uploader {
      width: 100%;
      height: 100%;
      border: 4px dashed #d1d4e0;
      border-radius: 15px;
      cursor: pointer;

      &:hover,
      &.hover {
        border: 4px dashed #1a6aff;
        color: #1a6aff;
        background-color: #337cf93f;

        > .upload {
          > span {
            color: #1a6aff;
          }
          > svg > path {
            fill: #1a6aff;
          }
        }
      }

      > .upload {
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        &.image > svg {
          height: 65px;
        }

        > span {
          font-weight: bold;
          font-size: 15px;
          color: var(--primary-color);
          text-align: center;
          padding: 0 18px;
        }
      }

      &.error {
        animation: border-blink 6s ease-out;

        @keyframes border-blink {
          0% {
            border: 4px dashed #d1d4e0;
          }
          3% {
            border: 4px dashed var(--error-color);
          }
          97% {
            border: 4px dashed var(--error-color);
          }
          100% {
            border: 4px dashed #d1d4e0;
          }
        }
      }
    }
    > .image-container {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 100%;

      > .image {
        border-radius: 10px;
      }

      > .round-button {
        margin: 12px;
      }
    }
  }

  > .bottom-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 15px;

    > .subcontainer,
    > .input-text-field,
    .dropdown > input {
      width: 100%;
      height: fit-content;
    }

    > .subcontainer,
    > .input-text-field > input,
    .dropdown > input {
      width: 100%;
      height: fit-content;
      box-shadow: 0 0 6px #dedede;
      border-radius: 10px;
    }

    > .link {
      > .input-container {
        padding: 8px 0;
        height: 100%;
        border-radius: 10px;
        background-color: transparent;
        > :last-child:not(input) {
          margin-right: 10px;
        }
      }
    }

    > .uploaded-name {
      width: 100%;
      display: flex;
      height: 48px;
      padding-right: 10px;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      color: #757575;

      > .content-icon {
        display: flex;
        align-items: center;
        margin: 0 10px 0 16px;
        color: #757575;
      }
      > abbr {
        margin-right: 5px;
      }
      > .round-button {
        display: flex;
        margin-left: auto;
      }
    }

    > .dropdown {
      width: 130px;
      > .dropdown-content {
        width: auto;
      }
    }
  }
}
