 .search-box {
    border: 1px solid #888888;
    border-radius: 16px;
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;

    @media screen and (max-width:400px) {
      width: 100%;
    }
  }

  .search-icon {
    max-height: 16px;
    margin: 10px;
  }

  .search-text {
    background-color: transparent;
    width: 100%;
    font-size: 11px;
    border: none;
    width: 70%;
    color: #b6bacb;
    &::placeholder {
      color: #b6bacb;
    }
  }

  .search-text:focus-visible {
    outline:none;
    border: none;
  }