.account {
  display: flex;
  flex-direction: column;
  gap: 16px;
  > .card {
    display: flex;
    flex-direction: column;
    padding: 26px 40px;
    gap: 20px;
    > p > .input-text-field {
      max-width: 350px;
    }
  }
}
