* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
  }
  
  body {
    background: white;
  }

  .access-header {
    margin-top: 120px;
  }
  
  img { 
    border-style: none; 
    vertical-align: bottom;
  }