@import '../../../styles/application';

.collection {
  > .content {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 450px) {
      margin-top: 0;
      padding: 0;
    }

    > .main-collection-card {
      display: flex;
      gap: 20px;

      @media (min-width: 450px) {
        > .image {
          border-radius: 16px 16px 0 0;
        }

        > :last-child {
          margin-bottom: 20px;
        }

        > :not(.image) {
          padding: 0 20px 0 20px;
        }
      }

      position: inherit;
      flex-direction: column;
      align-items: flex-start;

      > .image {
        cursor: pointer;
        height: 250px;
        width: 100%;
        position: inherit;

        > .change-image-button {
          z-index: 5;
          display: flex;
          justify-content: flex-end;
          padding: 15px 20px;
          &.disabled {
            pointer-events: none;
          }
        }
      }

      > .info {
        padding: 0 20px 0 20px;
      }

      > .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > .input-text-field > .input-text-field-container {
          box-shadow: none;
          animation: none;
        }

        > .label {
          font-size: 19px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;

          > .actions {
            display: flex;
            gap: 12px;
            width: fit-content;
            align-items: center;

            > * {
              cursor: pointer;
              display: flex;
              align-items: center;

              > svg {
                width: 28px;
                height: 28px;
              }
            }

            &.edit-save {
              > :last-child {
                width: 40px;
                > svg {
                  width: 18px;
                  height: 18px;
                }
              }

              > .primary-button {
                display: grid;
                grid-template-columns: 1fr;
                > div {
                  grid-row-start: 1;
                  grid-column-start: 1;

                  &.loading {
                    display: flex;
                    visibility: visible;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                  }
                }

                &.loading {
                  pointer-events: none;
                }
              }
            }

            > .bookmark {
              color: #757575;
            }

            > .bookmarked {
              color: #00bd7e;
            }

            > .bookmark:hover {
              color: #00bd7e;
            }

            > .share:hover {
              color: $primary-color;
            }
          }
        }

        .title {
          font-weight: bold;
          font-size: 26px;

          > .input-container {
            > input {
              font-weight: bold;
              font-size: 26px;
            }
          }
        }

        > .description {
          font-size: 14px;
          line-height: 20px;
        }

        > .actions {
          display: flex;
          margin-top: 8px;
          width: 100%;
          height: 30px;
          align-items: center;
          justify-content: space-between;

          > .left {
            display: flex;
            align-items: center;
            gap: 10px;

            > .follow-and-followers {
              display: flex;
              align-items: center;
              gap: 5px;
              > :first-child {
                width: 84px;
              }
            }
            .followers {
              display: flex;
              align-items: center;
              gap: 2px;
              font-size: 15px;

              > .following {
                color: $primary-color;
              }

              > .follow:hover {
                color: $primary-color;
              }
            }
          }

          .right > div {
            width: 40px;
            > svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }

    > .main-content {
      display: flex;
      gap: 20px;

      @media (min-width: 450px) and (max-width: 800px) {
        > .main-column {
          gap: 15px;
          > .collection-footer {
            display: flex;
            gap: 15px;

            > * {
              display: flex;
              flex-direction: column;
              gap: 15px;
              width: 50%;
            }
            > .one-column {
              display: none;
            }
          }
        }
      }

      @media screen and (max-width: 450px) {
        > .main-column {
          > .list-card {
            padding: 0 15px;
          }

          > .collection-footer {
            > :not(.one-column) {
              display: none;
            }
            .one-column {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }

      > .main-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 65%;
        height: 100%;

        > .collection-footer {
          display: none;
        }
      }

      > .side-column {
        width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        > :first-child:is(.button) {
          width: 100%;
          justify-content: center;
        }
      }

      @media screen and (max-width: 800px) {
        > .main-column {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          > .collection-footer {
            display: flex;
          }
        }

        > .side-column {
          display: none;
          width: 325px;
          height: 100%;
        }
      }

      > .side-column > .extra-details-card,
      > .main-column > .collection-footer > .right-column > .extra-details-card,
      > .main-column
        > .collection-footer
        > .one-column
        > .extra-details-card
        > .side-column
        > .extra-details-card {
        width: 100%;
        height: fit-content;
        padding: 25px;
        display: flex;

        flex-direction: column;
        gap: 13px;
        flex-wrap: wrap;
        justify-content: center;

        > .dropdown {
          gap: 4px;
          &.disabled {
            > .input-container {
              background-color: transparent;
              border: none;
              > .dropdown-button {
                color: #c6c6c6;
              }
            }
          }

          &.enter-error {
            > .input-container {
              box-shadow: 0 0 0 2px red;
            }
          }

          > label {
            margin-bottom: 0;
          }
          > .input-container {
            background-color: transparent;
            border: none;
          }
        }

        > .license-dropdown {
          margin-bottom: 2px;
        }

        > * {
          > label {
            margin-bottom: 2px;
          }
          > .input-container {
            min-height: 24px;
            height: 24px;
            box-shadow: none;
            > .dropdown-button {
              padding: 0;
              > .dropdown-pill {
                justify-content: flex-start;
              }
            }
          }
        }

        > .detail {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 4px;
          > .title {
            font-weight: bold;
            font-size: 14px;
          }
          > .value {
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.5);
            fill: rgba(0, 0, 0, 0.5);
            height: 24px;
            width: 100%;
            line-height: 20px;
            font-weight: 500;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.date {
              display: flex;
              gap: 8px;
            }

            &.icons {
              display: flex;
              align-items: center;
              gap: 6px;
              > div {
                display: flex;
                gap: 3px;
                > * {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }

          &.license {
            margin-bottom: 2px;
          }
        }

        > .dropdown:not(:last-child) {
          margin-bottom: 2px;
        }
      }
    }

    .collection-actions-card {
      width: 100%;
      height: fit-content;
      padding: 25px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;

      > .button {
        max-width: 160px;
        justify-content: center;
        padding: 11px;
        flex: 1;
      }
    }
  }
}
