.moderation {
  > .card {
    > .subtitle {
      font-size: 20px;
      font-weight: bold;
    }
    &.reported-users {
      height: fit-content;
      max-height: calc(100vh - 350px);
    }
    > .table-container {
      width: 100%;
      min-height: 150px;
      overflow-x: auto; // This will enable horizontal scrolling for the entire table

      > .table {
        width: fit-content;
        min-width: 100%;
        > .thead-table,
        > .tbody-table {
          font-family: Arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          font-size: 14px;
          white-space: nowrap;
          table-layout: auto;
        }

        > .thead-table {
          > thead {
            > tr {
              * {
                text-align: left;
                padding: 8px;
                font-weight: bold;
                position: sticky;
                top: 0;
                background: white;
                z-index: 10;
              }
              > .display-name,
              > .reason {
                width: 180px;
              }
              > .flags {
                width: 50px;
              }
              > .last-flag {
                width: 100px;
              }
              > .status {
                width: 60px;
              }
              > .actions {
                text-align: center;
              }
            }
          }
        }
        > .tbody-table {
          width: 100%;
          height: fit-content;
          overflow-y: auto;
          > tbody {
            > tr {
              > td {
                text-align: left;
                padding: 8px;

                &.display-name,
                &.reason {
                  width: 180px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                &.flags {
                  width: 50px;
                  text-align: center;
                }
                &.last-flag {
                  width: 100px;
                }
                &.status {
                  width: 60px;
                }
                &.actions {
                  width: 120px;
                  display: flex;
                  justify-content: space-between;
                  // gap: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
