.moderation {
  > .card {
    > .subtitle {
      font-size: 20px;
      font-weight: bold;
    }
    > .searchbox {
      flex: 0 0 40px;
    }
    &.reported-users {
      height: fit-content;
      // max-height: calc(100vh - 360px);
      min-height: 325px;
    }
    > .table-container {
      overflow-x: auto; // Enables horizontal scrolling for both header and body
      max-height: calc(100vh - 360px); // Set a maximum height for the vertical scrolling area
      display: block;
      font-family: Arial, sans-serif;
      font-size: 14px;
      min-height: 150px;

      > .table-header,
      > .table-body-container > .table-body {
        display: grid;
        align-items: center;
        gap: 16px;
        > :last-child,
        > .table-row > :last-child {
          padding-right: 10px;
        }
        &.users-table {
          grid-template-columns: minmax(150px, 1fr) 55px 100px minmax(145px, 1fr) 60px 100px;
        }
        &.resources-table {
          grid-template-columns: minmax(150px, 1fr) minmax(145px, 1fr) 100px;
        }
      }

      > .table-header {
        position: sticky;
        top: -1px;
        background: white;
        z-index: 0;
        margin-bottom: 6px;

        > * {
          background: white;
          font-weight: bold;
          white-space: nowrap;
          text-align: left;
          padding-bottom: 10px;
          display: flex;
          > svg {
            height: 20px;
          }
          &:not(.actions) {
            cursor: pointer;
          }
          &.active {
            > .label {
              text-decoration: underline;
            }
          }
        }

        > .flags,
        > .status {
          justify-content: center;
          padding-left: 24px;
        }

        > .last-flag {
          justify-content: center;
          padding-left: 10px;
        }

        > .actions {
          justify-content: center;
        }
      }

      > .table-body-container {
        > .table-body {
          > .table-row {
            display: contents;

            > .display-name,
            > .resource-name,
            > .reason {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            > .flags,
            > .last-flag,
            > .status,
            > .actions {
              text-align: center;
            }

            > .display-name:not(.deleted),
            > .flags,
            > .reason,
            > .status {
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }

            > .status,
            > .actions {
              > * {
                cursor: pointer;
                color: #7a7a7a;
                fill: #7a7a7a;
                &:hover {
                  color: #363636;
                  fill: #363636;
                }
                &.disabled {
                  cursor: default;
                  color: #d4d4d4;
                  fill: #d4d4d4;
                }
              }
            }

            > .actions {
              display: flex;
              justify-content: space-between;
              align-items: center;

              > .remove-flags > svg {
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.modal-portal > .modal-container {
  &.flag-modal {
    > .modal {
      max-height: min(calc(100vh - 40px), 800px);
      > .content {
        display: flex;
        flex-direction: column;
        gap: 14px;

        > .flag-row {
          display: flex;
          gap: 8px;
          > .date {
            min-width: 147px;
          }
          > abbr {
            cursor: pointer;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.reasons-modal {
    > .modal {
      max-height: min(calc(100vh - 40px), 800px);
      min-width: min(calc(100vw - 40px), 500px);

      > .content {
        overflow: auto;
        padding-right: 10px;
        padding-bottom: 10px;
        > .reasons {
          display: flex;
          flex-direction: column;
          gap: 14px;
          > .reason-type {
            display: flex;
            flex-direction: column;
            gap: 16px;
            > .type-header {
              cursor: pointer;
              display: flex;
              gap: 8px;
              > svg {
                margin-top: 2px;
              }
            }
            > .reason {
              display: flex;
              flex-direction: column;
              gap: 4px;
              > .date-user {
                display: flex;
                gap: 5px;
                > .date {
                  min-width: 147px;
                }
                > abbr {
                  cursor: pointer;
                  font-weight: 600;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.status-modal {
    > .modal {
      max-height: min(calc(100vh - 40px), 800px);

      > .content {
        overflow: auto;
        padding-right: 10px;
        padding-bottom: 10px;
        > .status-changes {
          display: flex;
          flex-direction: column;
          gap: 14px;
          > .status-change {
            display: flex;
            gap: 4px;
            display: flex;
            gap: 5px;
            > .date {
              min-width: 147px;
            }
            > abbr {
              cursor: pointer;
              font-weight: 600;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
