.moderation {
  > .card {
    > .subtitle {
      font-size: 20px;
      font-weight: bold;
    }
    > .searchbox {
      flex: 0 0 40px;
    }
    &.reported-users {
      height: fit-content;
      max-height: calc(100vh - 360px);
      min-height: 325px;
    }
    > .table-container {
      width: 100%;
      min-height: 150px;
      overflow-x: auto;

      > .table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;

        > .thead-table,
        > .tbody-table {
          font-family: Arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          table-layout: fixed;
          font-size: 14px;
          white-space: nowrap;
          > thead,
          > tbody {
          }
        }

        > .thead-table {
          position: sticky;
          display: table;
          top: 0;
          z-index: 10; /* Make sure the header is above other content */
          background: white; /* Or any background as needed */
          overflow-x: hidden;
          > thead {
            > tr {
              * {
                text-align: left;
                padding: 8px;
                font-weight: bold;
                top: 0;
                background: white;
                z-index: 10;
              }
              > .display-name,
              > .reason {
                width: 180px;
              }
              > .flags {
                width: 50px;
              }
              > .last-flag {
                width: 100px;
              }
              > .status {
                width: 60px;
              }
              > .actions {
                width: 120px;
                text-align: center;
                padding-left: 14px;
              }
            }
          }
        }
        > .tbody-table {
          display: table;
          width: 100%;
          height: fit-content;
          overflow-y: auto;
          > tbody {
            overflow-y: auto;
            > tr {
              > td {
                text-align: left;
                padding: 8px;

                &.display-name,
                &.reason {
                  width: 180px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                &.flags {
                  width: 50px;
                  text-align: center;
                }
                &.last-flag {
                  width: 100px;
                }
                &.status {
                  width: 60px;
                  text-align: center;
                  > abbr {
                    > svg {
                      color: #838383;
                    }
                  }
                }
                &.actions {
                  width: 120px;
                  display: flex;
                  margin-left: 6px;
                  justify-content: space-between;
                  align-items: center;
                  > * {
                    cursor: pointer;
                    color: #7a7a7a;
                    &:hover {
                      color: #535353;
                    }
                    &.disabled {
                      cursor: default;
                      color: #c0c0c0;
                    }
                  }
                  > .archive > svg {
                    height: 23px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
