.add-button {
    cursor: pointer;
    position: relative;
    float: right;
    > .add-icon {
        max-height: 30px;
    }
    >.menu {
        visibility: hidden;
        display: none;
        position: absolute;
        width: max-content;
        display: flex;
        right: -12px;
        padding-top: 8px;
        
        > .content {
            display: flex;
            flex-direction: column;
            background-color: white;
            border: 1px solid #b6b6b6;
            border-radius: 9px;
            gap: 14px;
            flex-wrap: wrap;
            padding: 15px;

            > a {
                text-decoration: inherit;
                color: inherit;
                font-size: 14px;
                font-family: inherit;
                display: flex;
                align-items: center;
                color: black;

                > svg {
                    margin-right: 14px;
                    color: grey;
                }
            }
        }
    }
}



.add-button:hover .menu {
    visibility: visible;
}