.text {
  color: #212529;
}

.landing {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;

  > .landing-title {
    font-weight: bold;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    > .moodle-title {
      color: #b6bacb;
      font-size: 25px;
    }
    > .organization-title {
      line-height: 34px;
      color: black;
      font-size: 35px;
    }

    @media (max-width: 450px) {
      margin: 28px 0 0;
    }

    @media screen and (max-width: 675px) and (min-width: 450px) {
      margin: 36px 0 0;
      font-weight: bold;
      > .moodle-title {
        font-size: 22px;
      }
      > .organization-title {
        font-size: 33px;
      }
    }
  }
  
  > .intro-card {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    gap: 16px;
    > .title {
      font-weight: bold;
      font-size: 16px;
    }
    > .content {
      > a {
        color: #337aff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    >.actions {
      display: flex;
      gap: 15px;
    }
  }

  > .searchbox {
    width: 100%;
    //border: none;
    background-color: white;
    //height: fit-content;
    > .search-text {
      //font-size: 30px;
      width: 100%;
    }
    > :first-child {
      //display: none;
    }

    @media (max-width: 450px) {
      margin: 36px 0;
      display: block;
      > .search-text {
        font-size: 38px;
      }
    }
  }

  > .trends-title {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }

  > .browser {
    margin-top: 0;
  }

  > .content {
    width: 100%;
    max-width: 1100px;
    height: max-content;
    display: flex;
    justify-content: space-between;
  }

  .main-column {
    width: 48.5%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 24px;



    > .trend-card {
      display: none;
    }
  }

  .side-column {
    width: 48.5%;
    height: 100%;
  }

  .collection {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .main-column {
      width: 100%;
      height: max-content;
      .trend-card {
        display: block;
      }
    }

    .side-column {
      display: none;
      width: 325px;
      height: 100%;
      background-color: yellow;
      .trend-card {
        display: none;
      }
    }

    .collection {
      display: block;
    }
  }
}

.text-image {
  width: 100%;
  height: 137px;
  object-fit: cover;
  border-radius: 9px;
}
