.header-title {
  display: flex;
  align-items: center;
  
  a {
    text-decoration: none;
  }

  .logo {
    height: 36px;
  }

  .text {
    color: #b6bacb;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
  }
}