.not-approved-warning {
  font-size: 13px;
  padding: 14px 18px;
  border-radius: 6px;
  &.elegible {
    background-color: (#00bd7e21);
  }
  &.not-elegible {
    background-color: rgb(255 244 229);
  }
}
