.whistleblow-resource-modal {
  > .modal.card {
    width: 100%;
    max-width: 400px;
    > .modal-header {
      margin-top: -10px;
      margin-bottom: -5px;
      > .title {
        width: 100%;
        text-align: center;
      }
    }
    > .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-top: 1px solid #e5e5e5;
      margin-left: -25px;
      padding: 20px 25px 0;
      width: calc(100% + 50px);
      font-size: 15px;
      > * {
        > .title {
          font-weight: bold;
          padding-bottom: 5px;
        }
      }
      > .option-section {
        display: flex;
        flex-direction: column;
        gap: 18px;
        > .option {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          > .arrow {
            color: #a7a7a7;
            > svg {
              font-size: 20px;
              margin-right: 2px;
            }
          }
        }
      }
      > .comment-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
