.list-card {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 6px #dedede;

    @media (max-width:450px) {
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
    }

    > .title {
        font-size: 12px;
        font-weight: bold;
        padding-top: 22px;
        padding-left: 20px;
    }

    > .content {
        display: flex;
        flex-direction: column;
        padding: 18px 20px;
        > * {
            margin-bottom: 16px;
        }
        > :last-child {
            margin-bottom: 0;
        }  
    }
}

.no-card {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    .content {
        margin: 0px;
    }
}