.bookmark-button {
  padding: 1px 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: normal;

  &.white {
    color: white;
  }

  &.disabled {
    color: #00bd7e;
    cursor: auto;
  }

  &:hover:not(.disabled) {
    color: #5c5c5c;
    > svg {
      color: #009966;
    }
  }

  &.bookmarked {
    > svg {
      color: #00bd7e;
    }
  }
}
