.tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    white-space: nowrap;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .tags::-webkit-scrollbar {
    display: none;
  }

  .tag {
    cursor: pointer;
    padding: 7px 10px;
    display: flex;
    height: 100%;
    font-size: 13px;
    color: white;
    align-items: center;
    margin-right: 10px;
    background-color: #b6bacb;
    border-radius: 15px;
  }

  .empty-space {
    width: 10px;
  }