.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tag,
.tag-container {
  max-width: 100%;
}

.tag {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  font-size: 13px;
  color: white;
  align-items: center;
  background-color: #b6bacb;
  border-radius: 15px;
}

.tag > abbr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag.hover:hover {
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 2px 6px 2px rgb(60 64 67 / 15%);
}

.tagGeneral {
  background-color: #7f8393;
  border-radius: 6px;
}

.empty-space {
  width: 10px;
}
