.header {
  height: 60px;
  padding: 0 100px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  > .content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > .left {
      > .title {
        line-height: 20px;
        font-size: 20px;
        font-family: 'Fredoka', sans-serif;
        font-family: 'Press Start 2P';
        text-decoration: none;

        > .bar {
          margin-left: -6px;
          animation: blink 2s infinite linear;

          @keyframes blink {
            0% {
              opacity: 1;
              color: #f88012;
            }
            15% {
              opacity: 0;
            }
            30% {
              opacity: 1;
              color: black;
            }
            50% {
              opacity: 1;
              color: black;
            }
            65% {
              opacity: 0;
            }
            80% {
              opacity: 1;
              color: #f88012;
            }
            100% {
              opacity: 1;
              color: #f88012;
            }
          }
        }

        > .mn {
          background: linear-gradient(
            to right,
            #f88012,
            #f88012,
            rgba(208, 222, 33, 1),
            rgba(79, 220, 74, 1),
            rgba(63, 218, 216, 1),
            rgba(47, 201, 226, 1),
            rgba(28, 127, 238, 1),
            rgba(95, 21, 242, 1),
            rgba(186, 12, 248, 1),
            rgba(251, 7, 217, 1),
            rgba(255, 0, 0, 1)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    > .right {
      display: flex;
      gap: 24px;
      > .avatar-menu {
        > .hover-element {
          > .avatar {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            &:hover {
              box-shadow: 0px 1px 2px 0px rgb(60 64 67);
              opacity: 0.9;
            }
          }
        }
        > .menu > .content > * {
          > .profile > .avatar {
            border-radius: 50%;
            height: 28px;
            width: 28px;
            margin-right: 10px;
          }
        }
      }
      > .dev-mode {
        display: flex;
        align-items: center;
        gap: 10px;
        > .label {
          font-size: 13px;
          color: #7e7e7e;
        }
      }
    }
  }
}
