.visual-resource-alert {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  > .red-dot {
    position: absolute;
    right: -3px;
    top: -3px;
    height: 14px;
    width: 14px;
    background-color: #ff3131;
    border-radius: 50px;
  }
}
