.jira-link-button-container {
  > .jira-link-button {
    color: var(--primary-color);
    &:hover {
      color: var(--primary-color-hover);
    }
    &:active {
      color: var(--primary-color-active);
    }
  }
}

//  .user-types {
//   display: flex;
//   gap: 10px;
//   > * {
//     cursor: pointer;
//     &.off {
//       color: #8c8e95;
//       &:hover {
//         color: #63656a;
//       }
//     }
//   }
//   > .admin,
//   > .publisher {
//     &.on {
//       color: var(--primary-color);
//       &:hover {
//         color: var(--primary-color-hover);
//       }
//       &:active {
//         color: var(--primary-color-active);
//       }
//     }
//   }
// }
