@import '../../../../styles/application';

.collection-card-legacy {
  position: relative;
  min-width: 170px;
  width: 100%;
  height: 88px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px #dedede;
  display: flex;
  flex-direction: column;

  &.is-private {
    opacity: 1;
  }

  > .actions {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
    padding: 5px 7px;

    > .right > *,
    > .follow {
      padding: 1px 3px;
      background-color: #e3e5ef;
      border-radius: 6px;
      font-size: 13px;
      color: #636363;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      > svg,
      * > svg {
        width: 18px;
        height: 18px;
      }
    }

    > .follow:hover:not(.disabled) {
      background-color: #cbcdd7;
    }

    > :not(.disabled) {
      pointer-events: auto;
    }

    .following {
      background-color: $primary-color;
      color: white;
    }

    .right {
      display: flex;
      gap: 5px;

      > .visibility.public {
        color: white;
        background-color: #cbcdd7;
      }

      > .bookmarked {
        background-color: #00bd7e;
        color: white;
      }

      > .bookmark:hover {
        background-color: #cbcdd7;
      }
    }
  }
  > a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    > .title {
      margin-top: 16px;
      max-width: 100%;
      color: #636363;
      background-color: #e3e5ef;
      border-radius: 35px;
      padding: 5px 12px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      display: inline-block;
      > abbr {
        text-decoration: none;
      }
    }
  }
}
