.share-content {
  height: 50px;
  padding: 10px 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.modal-portal > .create-content-modal.modal-container {
  > .modal {
    width: auto;
    > .modal-header {
      > .title {
        font-size: 16px;
      }
    }

    > .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      > div,
      a {
        > .primary-button {
          height: 70px;
          display: flex;
          justify-content: flex-start;
          gap: 15px;
          > .content {
            display: flex;
            flex-direction: column;
            gap: 4px;
            > .title {
              font-size: 15px;
            }
            > .subtitle {
              font-size: 13px;
              color: #707070;
              font-weight: normal;
            }
          }
          > svg {
            width: 30px;
            height: 30px;
            fill: #a7a7a7;
          }
        }
      }
    }
  }
}
