.card.snackbar {
  min-height: 40px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #7b7b7b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 14px;
  border-radius: 4px;
  gap: 10px;

  > * {
    display: flex;
  }

  > .close-button {
    cursor: pointer;
  }

  &.type-success {
    background-color: #4caf50;
  }

  &.type-error {
    background-color: #ff6262;
  }

  &.type-warning {
    background-color: #f88012;
  }

  &.type-info {
    background-color: #337aff;
  }
}
