.search-profile-list {
  padding: 24px 24px 52px 24px;
  position: relative;

  > .list-card-footer {
    width: 100%;
    margin-left: -24px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    > .tertiary-button {
      width: 100%;
      font-size: 15px;
      height: 54px;
      border-radius: 0;
      padding: 6px 18px 10px 18px;
    }
  }

  @media screen and (max-width: 450px) {
    padding: 0 0 60px 0;
    > .list-card-footer {
      margin-left: 0;
      > .tertiary-button {
        border-radius: 12px;
      }
    }
  }
}
