.signup-content {
  >.card {
    >.content {
      >.bottom {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        @media (max-width: 450px) {
          flex-direction: column-reverse;
          gap: 5px;
        }

        >a>.tertiary-button {
          color: white;
          white-space: normal;

          &:hover {
            background-color: grey;
          }
        }
      }

      >.general-error {
        border-radius: 5px;
        padding: 6px 12px;
        background: #ff5454;
        color: #ffffff;
        font-size: 14px;
      }

      >.email-sent {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 10px;

        >.title {
          font-size: 30px;
        }

        >.subtitle {
          font-size: 20px;
          text-align: center;
        }

        >.emoji {
          font-size: 110px;
          padding-bottom: 28px;
          margin-top: -46px;
        }

        // > .icon {
        //   height: 120px;
        //   width: 120px;
        // }
      }
    }
  }
}