.subject-card {
  cursor: pointer;
  width: fit-content;
  min-height: 95px;
  border-radius: 16px;
  box-shadow: 0 0 6px #dedede;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  color: #636363;
  &.card {
    background-color: #e3e5ef;
  }

  @media (max-width: 450px) {
    margin-top: 0;
  }

  > .title {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
    > abbr {
      text-decoration: none;
    }
  }

  > .stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;

    > * {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 15px;
    }

    > .followers {
      > svg {
        height: 20px;
      }
    }
    > .resources {
      > svg {
        height: 16px;
      }
    }
  }
}
