.users {
  > .card {
    > .users-table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;

      > tbody > tr > td,
      > thead > tr > td {
        // border-bottom: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      > thead > tr > td {
        font-weight: bold;
      }

      > tbody {
        > tr {
          &:nth-child(even) {
            // background-color: #f3f3f3;
          }
          > .roles {
            > * {
              cursor: pointer;
              // }
              // > .admin {
              &.on {
                fill: var(--primary-color);
                &:hover {
                  fill: var(--primary-color-hover);
                }
              }
              &.off {
                fill: #8c8e95;
                &:hover {
                  fill: #63656a;
                }
              }
            }
          }
        }
      }
    }
  }
}
